<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".t10_MySettingActivity"></activity>
        <activity android:name=".t9_MessageActivity" />
        <activity android:name=".t8_MyAccountAcivity" />
        <activity android:name=".t7_IFoundSomethingActivity" />
        <activity android:name=".t6_ILostSomethingActivity" />
        <activity android:name=".t5_HomeScreeen" />
        <activity android:name=".t4_WelcomeNote" />
        <activity android:name=".t1_Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage" />
        <activity android:name=".t3_LoginActivity" />
        <activity android:name=".t2_SignupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>