<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoforapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".t6_Dashboard"
            android:label="@string/title_activity_t5__dashboard"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity android:name=".t5_Reset_password" />
        <activity android:name=".t3_Signup_congratulation" />
        <activity android:name=".t5_HomeScreeen" />
        <activity android:name=".t4_LoginActivity" />
        <activity android:name=".t2_SignupActivity" />
        <activity android:name=".t1_Login_signup_choice" />
        <activity android:name=".t0_Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>